.img1{
  width:10%;
}
.t1{
  text-align: center;
}
.P1{
  text-align: justify;
  font-family:serif;
  font-weight:100;
}
.img2{
  width:10%;
}
.tabla1{
  border: 1px solid;
}
tr,th,td{
  border: 1px solid;
}
.img3{
  width: 10%;
}